.maintenance {
  .service-item { align-items: flex-start; }

  .icon-img {
    width: 56px;    
    height: 56px;
    object-fit: contain;
    flex: none;
  }


  .worker-img {
    width:130vh;
    height: auto;
    top: 100px;
    object-fit: contain;
  }
 

}
